* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:rgba(245, 0, 61, 0.333);
    --secondary-color:#c73f05;
}

html {
    transition: all 0.4s ease-in;
}

html.dark {
    --primary-color: #b76e2c;
    --secondary-color:#593729;  
}

html.dark {
    background: #593729;
    color: var(--primary-color);
}

body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.toggle {
    cursor: pointer;
    background: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    padding: 0.85rem;
    position: absolute;
    top: 2%;
    font-family: inherit;
    font-size: 1rem;
}

.toggle:focus {
    outline: none;
}

.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clock {
    position: relative;
    width: 250px;
    height: 250px;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
    margin-bottom: 2rem;
    font-family: inherit;
}

.needle {
    background: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    transform-origin: bottom center;
    transition: all, 0.5, ease-in;
}

.needle.minute {
    transform: translate(-50%, -100%) rotate(60deg);
    height: 90px;
}

.needle.second {
    transform: translate(-50%, -100%) rotate(130deg);
    height: 100px;
    background: #0602fd;
}

.needle.hour {
    transform: translate(-50%, -100%) rotate(32deg);
}

.center-point {
    background-color: #0602fd;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.center-point::after {
    content: "";
    background-color: var(--primary-color);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.time {
    color: var(--secondary-color);
    font-size: 60px;
}

.date {
    color: var(--secondary-color);
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.date .circle {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1800px;
    transition: all 0.5% ease-in;
    font-size: 12px;
}